$color-primary-100: #c6e3fd
$color-primary-200: #79afdf
$color-primary-300: #508abd
$color-primary-400: #405E78
$color-primary-500: #2d4357
$color-primary-600: #272c42
$color-primary-700: #1f2232
$color-primary-800: #14131b

$color-neutral-100: #ffffff
$color-neutral-200: #eeeeee
$color-neutral-300: #bfbfbf
$color-neutral-400: #999999
$color-neutral-500: #3d3d3d
$color-neutral-600: #2c2c2c
$color-neutral-700: #1c1c1c
$color-neutral-800: #000000