$header-height-desktop: 110px
$header-height-tablet: 110px
$header-height-mobile: 110px

$footer-height-desktop: 12vh
$footer-height-tablet: 12vh
$footer-height-mobile: 12vh

$header-height-desktop-extended: 30vh
$header-height-tablet-extended: 30vh
$header-height-mobile-extended: 30vh

$footer-height-desktop-extended: 30vh
$footer-height-tablet-extended: 30vh
$footer-height-mobile-extended: 30vh

$main-max-width: 1440px