$header-height-desktop: 18vh
$header-height-tablet: 18vh
$header-height-mobile: 18vh

$footer-height-desktop: 12vh
$footer-height-tablet: 12vh
$footer-height-mobile: 12vh

$header-height-desktop-expanded: 13vh
$header-height-tablet-expanded: 13vh
$header-height-mobile-expanded: 13vh

$footer-height-desktop-expanded: 8vh
$footer-height-tablet-expanded: 8vh
$footer-height-mobile-expanded: 8vh

$main-max-width: 1440px